<!-- <nav class="container">

  
  <mat-form-field>
    <input matInput placeholder="Account Number"  [(ngModel)]="a"    required>
  </mat-form-field>
  

  <mat-form-field>
    <input matInput
    required  
    type="password" matInput placeholder="Enter Password"   [(ngModel)]="b"   required>
  </mat-form-field>
 

  
  <button mat-raised-button color="primary" (click) = "addDetails()" > Submit </button>
  
</nav>  changed --> 

<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->




    <!-- start from this  <div class="container" >
        <div class="card card-container">
           
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input  type="email" placeholder="Account  Number" [(ngModel)]="a" id="inputEmail" class="form-control"  [ngModelOptions]="{standalone: true}" required autofocus>
                <input type="password" id="inputPassword"  [(ngModel)]="b" class="form-control" placeholder="Password" [ngModelOptions]="{standalone: true}" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
					</label><hr>
					<button mat-raised-button color="primary" (click) = "addDetails()" > Submit </button>
                </div>
				
				
            </form>
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div>
        <div class = "msg" style="color: red;align-items: center;margin-left:38%">

            <p>

                {{msg}}

            </p>
        </div>
    </div>   till this -->




    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<section class="login-block">
    <div class="container">
	<div class="row">
		<div class="col-md-4 login-sec">
                <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />

		    <h2 class="text-center">Login</h2>
		    <form class="login-form">
  <div class="form-group">
    <label for="exampleInputEmail1" class="text-uppercase" >Username</label>
    <input type="text" class="form-control" [(ngModel)]="a" placeholder="" [ngModelOptions]="{standalone: true}" required autofocus>
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="text-uppercase">Password</label>
    <input type="password" class="form-control"   [(ngModel)]="b" placeholder="" [ngModelOptions]="{standalone: true}" required autofocus>
  </div>
  
  
    <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      <small>Remember Me</small>
    </label>
    <button type="submit"  (click) = "addDetails()"  class="btn btn-login float-right">Submit</button>
  </div>
  
</form>
<div class="copy-text">  <a href="http://grafreez.com"></a></div>
		</div>
		<div class="col-md-8 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                 <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
            <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <!-- <div class="banner-text">
            
        </div>	 -->
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <!-- <div class="banner-text">
            
        </div>	 -->
    </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <!-- <div class="banner-text">
            
        </div>	 -->
    </div>
  </div>
            </div>	   
		    
		</div>
	</div>
</div>
</div>
<div class = "msg" style="color: red;align-items: center;margin-left:20%;margin-top:10px ">

        <p>

           <strong>{{msg}}</strong> 

        </p>
    </div>
</section>