
.login-block{
  background: #DE6262;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
height:100%;
width:100%;
padding : 50px 0;
}
  .container > * {
    width: 60%;
    margin-left: 15%;
    
  }

  .container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
  }

  .example-card {
    background-color:rgb(164, 161, 206);
    max-width: 700px;
    margin-left: 25%;
    height:300px;
    width:700px;
    margin-left: 35%;
    margin-top:5%;
  }

  
  .h2{
    align-items: center;
    margin-left: 50%;
    margin-right: 50%;
  }

  